@import url(vars.css);


.header-menu-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    background: var(--clr-main);
    width: 80vw;
    height: 25ch;
    margin: auto;
    border-radius: 2rem 2rem 0rem 0rem;
}

.title-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: var(--ff-main);
    font-size: var(--fs-xxbg);
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    background: var(--clr-main-bg);
    justify-content: center;
    border-radius: 0 0 2rem 2rem
}



.btn-translate {
    display: flex;
    position: absolute;
    margin-left: 12rem;
    margin-top: 2rem;
}

.btn-back-arrow {
    display: flex;
    position: absolute;
    background: var(--clr-main);
    margin-left: 2rem;
}

.menu-items {
    flex-basis: 40%;
    /* 2 columnas iguales con margen entre ellas */
    margin: 0rem 2.5rem 5.375rem 2.5rem;
}

.top-border{
    margin-top: 4rem;
   }

.card {
    display: flex;
    flex-wrap: wrap;
    background: var(--clr-white);
    min-height: 300px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.84));
    border-radius: 12px;
}

.half {
    flex: 1;
    background: inherit;
    /* Utiliza el fondo de la tarjeta */
    overflow: hidden;
    /* Evita que el contenido se desborde */
    border-radius: 12px 0px 0px 12px;
    display: flex;
}

.content-img {
    display: flex;
    position: relative;
}

.img-menu {
    display: block;
    width: 100%;
    border-radius: 12px 0px 0px 12px;
}

.star-btn {
    position: absolute;
    background: var(--clr-white);
    border: none;
    border-radius: .5rem;
    top: -1rem;
    right: 8.5rem;
    scale: 50%;
}

.content-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 13px;
    /* Espacio interno dentro de cada mitad */
}

.name-dish {
    text-align: center;
    margin: auto;
    font-size: var(--fs-md);
    font-family: var(--ff-tertiary);
    font-weight: var(--fw-md);
}

.cart-btn{
    position: absolute;
    border: .5rem solid var(--clr-main);
    border-radius: .5rem;
    background: var(--clr-main);
    margin-left: 130px;
    margin-top: -3rem;
}

/* Login */

.form-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.login-container {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    margin: auto;
    background: var(--clr-main-bg);
    justify-content: center;
    border-radius: 0 0 2rem 2rem;
    font-family: var(--ff-tertiary);
    border: solid 5px var(--clr-main);
}

.title-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-main);
    width: 45vw;
    height: 3ch;
    margin: auto;
    text-align: center;
    font-family: var(--ff-main);
    font-size: var(--fs-xbg);
    border-radius: 2rem 2rem 0rem 0rem;
    border: solid 5px var(--clr-main);
}

/* Estilo para etiquetas de formulario */
.form-label {
    width: 40vw;
    margin-bottom: 8px;
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
}

/* Estilo para campos de entrada de formulario */
.form-input {
    width: 20vw;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.84);
}

/* Botón de envío del formulario */
.login-container-button {
    padding: .5rem 1.5rem;
    background:var(--clr-main);
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.buttons-payment-container{
    display: flex;
    width: 65vw;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.buttons-payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 6ch; 
    padding: 35px 33px;
    background:var(--clr-main);
    color: var(--clr-black);
    font-family: var(--ff-secondary);
    font-size: var(--fs-xsm);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 1rem;
}






@media (max-width: 768px) {
    .card {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        background: var(--clr-white);
        min-height: 300px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.84));
        border-radius: 12px;
    }

    .menu-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* Login signUp and payment  */
    .login-container {
        width: 65vw;
    }
    
    .title-login {
        width: 65vw;
        font-size: var(--fs-bg);
    }

    .form-input{
    width: 40vw;
    }
    

}