@import url(vars.css);

body {
  margin: 0;
  background-color: var(--clr-main-bg);
  font-family: var(--ff-main);
}

#header-container {
  display: flex;
  background-color: var(--clr-main);
  color: var(--clr-white);
  height: 40rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.header-title {
  font-size: clamp(var(--fs-xxxbg), var(--fs-xbg), var(--fs-xlg));
  font-weight: var(--fw-md);
  font-style: italic;
  margin: 0;
}

.header-text-container {
  width: 75%;
}

.header-text {
  font-size: clamp(var(--fs-bg), var(--fs-lg), var(--fs-nm));
  font-weight: var(--fw-md);
  font-style: italic;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.dish-searcher-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 54px;
}

.dish {
  font-style: var(--ff-secondary);
  font-size: clamp(var(--fs-nm) var(--fs-sm), var(--fs-xsm));
  padding: 0;
  border: none;
  height: 56px;
  padding: 0 5rem;
  border-radius: 1rem;
  transition: all 0.6s;
}

.dish:hover {
  box-shadow: 0 0 0 0.5rem var(--clr-white);
}

.dish:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem var(--clr-white);
}

.dish-submit-btn {
  font-style: var(--ff-tertiary);
  font-weight: bold;
  font-size: clamp(1rem, 0.5rem, 0.1rem);
  position: absolute;
  align-self: flex-end;
  width: 5%;
  height: 46px;
  margin-right: 4px;
  border-radius: 1rem;
  background-color: var(--clr-btn);
  color: var(--clr-white);
  border-style: none;
}

.header-right-upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.header-buttons-container {
  display: flex;
  justify-content: space-around;
}

.header-image {
  width: 100%;
}

@media (max-width: 768px) {
  .header-right {
    display: none;
  }
}
